h1{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 28px;
  margin: 0px;
}

h2{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  margin: 0px;
}

h3{
  color: $text-dark;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 22px;
  margin: 0px;
}

h4{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  margin: 0px;
}

p{
  color: $text-dark;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  margin: 0px;
}

a{
  color: $text-white;
}

a:hover{
  color: $text-dark;
  text-decoration: none;
}
