h1{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 28px;
  margin: 0px;
}

.dark {
  color: $text-dark;
}

.gray {
  color: $text-gray;
}

h2{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  margin: 0px;
}

h3{
  color: $text-dark;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 22px;
  margin: 0px;
}

h4{
  color: $text-white;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  margin: 0px;
}

h4.dark {
  color: $text-dark;
}

h4.gray {
  color: $text-gray;
}

p{
  color: $text-dark;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  margin: 0px;
}

a{
  color: $text-white;
  &.dark {
  color: $text-dark;
  }
  &.gray {
  color: $text-gray;
  }
}

a:hover{
  color: $text-dark;
  text-decoration: none;
}

p.body_styling {
  font-size: 21px;
  line-height: 33.18px;
  text-align: start;
}

h3.title_styling {
  font-size: 46px;
}

h3.influencer_name_styling {
  font-size: 23px;
}
