body{
  background: linear-gradient($warm_hot 25%, $cold_low 100%);
  // background: linear-gradient(180deg, #FFA1A1 21.55%, #93F2FF 100%);
  // background: linear-gradient(180deg, #F83F83 20.55%, #93F2FF 100%);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

.bubble-container {
  grid-area: bubble-container;
}

.header-container {
  display: flex;
  justify-content:flex-end;
  grid-area: header-container;
  align-items: center;
  padding-right: 50px;
}

.window-container {
  grid-area: window-container;
}

#display-grid {
  display: grid;
  grid-template-rows: 100px 1fr ;
}

// Small device
@media (max-width: 1400px) {
  #display-grid {
    grid-template-columns: 15px 1fr 15px;
    grid-template-areas:". header-container ."
                        ". bubble-container ."
  }
}

// Large device
@media (min-width: 1400px) {
  #display-grid {
    grid-template-columns: 60px 2fr 5fr 60px;
    grid-template-areas:". bubble-container header-container ."
                        ". bubble-container window-container ."
  }
}

