body{
  background: linear-gradient($warm_hot 10%, $cold_low 100%);
  // background-image: url("images/text-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

.bubble-container {
  grid-area: bubble-container;
  // border: 1px solid $bubble-white;
}

.menu-container {
  z-index: 100;
  grid-area: menu-container;
  // border: 1px solid $bubble-white;
}

.window-container {
  grid-area: window-container;
  // border: 1px solid $bubble-white;
}

.icon-container {
  position: absolute;
  right: 20px;
  top: 10px;
  color: $bubble-white;
}


#display-grid {
  display: grid;
}

// Small device
@media (max-width: 850px) {
  .navbar-influencr {
    position: relative;
  }
  #display-grid {
    grid-template-rows: 87px 1fr ;
    grid-template-columns: 15px 1fr 15px;
    grid-template-areas:"menu-container menu-container menu-container"
                        ". bubble-container ."
                        ". window-container .";
  }
  .menu-desktop.hidden-sm {
    display: none;
  }
  .window-container.hidden-sm {
    display: none;
  }
  .bubble-container.overflow-sm{
    overflow: hidden;
  }
}

// Large device
@media (min-width: 850px) {
  #display-grid {
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 60px 2fr 5fr 60px;
    grid-template-areas:". menu-container menu-container ."
                        ". bubble-container window-container ."
  }
  .menu-mobile.hidden-lg {
    display: none;
  }
}
