<h2 class="onboarding-header">HOT</h2>
<div class="arrow">
  <%= image_tag("arrow-up.svg") %>
</div>
<h2 class="onboarding-header">The more recent the activity from your influencers is, the hotter your background will be.</h2>
<div class="arrow">
  <%= image_tag("arrow-down.svg") %>
</div>
<h2 class="onboarding-header">COLD</h2>
