<h2 class="tagline">Let’s start by introducing you with the 3 must-known Growth Strategists Influencers</h2>

<div class="cards">

  <div class="card-category">
    <h3>Paul Graham</h3> <br>
    <img class="avatar" src="https://duckduckgo.com/?q=paul+graham+picture&atb=v157-3aj&ia=images&iax=images&iai=https%3A%2F%2Fstatic-ssl.businessinsider.com%2Fimage%2F54ba7ce769bedd727f200ef8-910-683%2Fpaul-graham-16.jpg" alt="Paul Graham"> <br>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  </div>

  <div class="card-category">
    <h3>Marc Andreessen</h3> <br>
    <img class="avatar" src="https://duckduckgo.com/?q=paul+graham+picture&atb=v157-3aj&ia=images&iax=images&iai=https%3A%2F%2Fstatic-ssl.businessinsider.com%2Fimage%2F54ba7ce769bedd727f200ef8-910-683%2Fpaul-graham-16.jpg" alt="Paul Graham"> <br>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  </div>

  <div class="card-category">
    <h3>Sam Altman</h3> <br>
    <img class="avatar" src="https://duckduckgo.com/?q=paul+graham+picture&atb=v157-3aj&ia=images&iax=images&iai=https%3A%2F%2Fstatic-ssl.businessinsider.com%2Fimage%2F54ba7ce769bedd727f200ef8-910-683%2Fpaul-graham-16.jpg" alt="Paul Graham"> <br>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  </div>

</div>

<div class="get-started">
  <p class="get-started-button">GET STARTED</p>
</div>
