<div class="onboarding-container">
  <div class="center-content-onboarding">
    <div class="sign-in">
    <%= link_to "Sign In", user_session_path, class: "button-click" %>
    </div>

    <!-- SVG LOGO -->
    <div class="first-page-logo">
      <%= render partial:'shared/logo', locals: { myclass: 'logo-white' } %>
    </div>
    <h1 class="title">influencr.io</h1>
    <h2 class="onboarding-header tagline">A moment of calm in the noisy world of growth and tech</h2>
  </div>
</div>

<div class="onboarding-menu-container">
  <div class="get-started onboarding-upper-rightside">
    <h2 class=onboarding-header id="get-started-button">GET STARTED</h2>
  </div>
</div>
