<div class="text_page_four">
  <h2>HOT</h2>
  <div class="arrow-up"></div>
  <h2>The more recent the activity from your influencers is, the hotter your background will be.</h2>
  <div class="arrow-down"></div>
  <h2>COLD</h2>
</div>
