<div class="text_page_two">
  <h2 class="user_name_input">My name is <input id="input_user" type="text"></h2>
  <h2 class="question">Where should we start ?</h2>
</div>

<div class="checkbox_topics">
  <button class="button_growth first">Growth Marketing </button>
  <button class="button_growth second">Growth Strategy <!-- <p id="recommended">(Recommended)</p> --></button>
  <button class="button_growth third">Growth Hacking</button>
<!--   <a id="btn" href="#btn">Growth Marketing</a>
  <a id="btn" href="#btn">Growth Strategy</a>
  <a id="btn" href="#btn">Growth Hacking</a> -->
</div>

<div>
  <h2 id="page_two_progress_button">NEXT</h2>
</div>


<!--
<script>
  var typed = new Typed('#input_user', {
    stringsElement: '#typed-strings'
  });
</script> -->
