<div class="text_page_two">
  <h2 class="user_name_input">My name is <input id="input_field" type="text"></input></h2>
  <h2 class="question">Where should we start ?</h2>
</div>

<div class="checkbox_topics">
  <button class="button_growth first">Growth Marketing </button>
  <button class="button_growth second">Growth Strategy <!-- <p id="recommended">(Recommended)</p> --></button>
  <button class="button_growth third">Growth Hacking</button>
</div>

<div class="footer">
  <h2 class="previous_button" id="previous_button_page_two">PREV</h2>
  <h2 class="progress_button" id="progress_button_page_two">NEXT</h2>
</div>




<div id="typed-strings">
    <p>John Rambo</p>
</div>
<span id="typed"></span>


<script>
  // var typed = new Typed('#input_field', {
  //   stringsElement: '#typed-strings',
  //   attr: "placeholder"
  // });
</script>
