<div class="onboarding-container">
  <div>
    <div class="text_page_two">

      <div id="typed-strings">
          <p>Edouard</p>
      </div>
      <span id="typed"></span>

      <h2 class="user_name_input">My name is :  <input id="input_field" type="text"></input></h2>
      <h2 class="question">Where should we start ?</h2>
    </div>

    <div class="checkbox_topics mobile-adapt-vertical">
      <button class="button_growth first">Growth Marketing </button>
      <button class="button_growth second">Growth Strategy </button>
      <button class="button_growth third">Growth Hacking</button>
    </div>
  </div>
</div>

<div class="onboarding-menu-container">
  <div class="get-started onboarding-upper-leftside">
    <h2 class="onboarding-header previous_button" id="previous_button_page_two">PREV</h2>
  </div>
  <div class="get-started onboarding-upper-rightside">
    <h2 class="onboarding-header progress_button" id="progress_button_page_two">NEXT</h2>
  </div>
</div>


<!-- Typed.js animation  -->
<!-- For more details refer to https://github.com/mattboldt/typed.js/ -->
<!-- Check also onboarding.js file for the second part of the code -->




