<div class="sign-in">
<%= link_to "Sign In", user_session_path, class: "button-click" %>
</div>

<h1 class="title">INFLUENCR.IO</h1>
<h2 class="onboarding-header tagline">Get the right content from the right influencers</h2>

<div class="get-started">
  <h2 class=onboarding-header id="get-started-button">GET STARTED</h2>
</div>
