<div class="text_page_four">
  <h2>HOT</h2>
  <div class="arrow-up">
    <%= image_tag("arrow-up.png") %>
  </div>
  <h2>The more recent the activity from your influencers is, the hotter your background will be.</h2>
  <div class="arrow-down">
    <img src="app/assets/images/arrow-down.png" alt="arrow-down">
  </div>
  <h2>COLD</h2>
</div>
