<div class="text-margin">
  <div id="text1" style="display: none;" >
    <h2>We've <span class="white-background text-grey">curated</span> your content based on your selection</h2>
  </div>
</div>
<div class="text-margin" >
  <div id="text2" style="display: none;">
    <h2>Your feed is updated daily with <span class="white-background text-grey">high-quality</span> content</h2>
  </div>
</div>
<div class="text-margin" >
  <div id="text3" style="display: none;" >
    <h2>That will keep you on the cutting edge of <span class="white-background text-grey">growth strategy</span></h2>
  </div>
</div>
