<h2 class="onboarding-header">READ NOW</h2>
<div class="arrow">
  <%= image_tag("arrow-up.svg") %>
</div>
<h2 class="onboarding-header">See your must reads instantly</h2>
<div class="arrow">
  <%= image_tag("arrow-down.svg") %>
</div>
<h2 class="onboarding-header">READ LATER</h2>

<%= link_to "Let's start", {controller: "media", action: "index"}, class: "onboarding-header progress_button", id: "starting-button" %>

