.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content:center;
  flex-direction: column;
}

.title {
  font-family: $headers-font;
}

.tagline {
  margin-top: 2vh;
  font-family: $headers-font;
}

.get-started {
  margin-top: 15vh;
  font-family: $headers-font;
}

#get-started-button {
  color: $text-white;
  // border-bottom: 3px solid rgba(255,255,255,0.8);
  border-bottom: 3px solid;
  // opacity: 0.8;
  &:hover {
    color: $warm-mid;
    border-bottom: 3px solid $warm-mid;
    cursor: pointer;
  }
}
