.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content:center;
  flex-direction: column;
  // position: relative;
}

.title {
  font-size: 78px;
  font-family: poynter-oldstyle-display, serif;
  font-weight: 400;
  font-style: normal;
}

.tagline {
  margin-top: 2vh;
  font-family: $headers-font;
}

#get-started-button {
  color: $text-white;
  // border-bottom: 3px solid rgba(255,255,255,0.8);
  border-bottom: 3px solid;
  // opacity: 0.8;
  &:hover {
    color: $warm-mid;
    border-bottom: 3px solid $warm-mid;
    cursor: pointer;
  }
}

.sign-in {
 position:absolute;
 top:15px;
 right:15px;
}

.button-click {
  opacity: 0.8;
  &:hover {
  color: white;
  opacity: 1;
  }
}

.first-page-logo {
  height: 100px;
  width: 100px;
}
