.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content:center;
  flex-direction: column;
  position:relative;
}

.arrow img {
  height: 32vh;
}

#first_onboarding {
  height: 100vh;
}
// .onboarding-header {
//   padding: 14px;
// }

#starting-button {
  position:absolute;
  bottom:50px;
  right:15px;
}
