.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Mobile devices
@media (max-width: 850px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .no-show-mobile {
    display:none;
  }
}

// Desktop large devices
@media (min-width: 850px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-influencer {
  border: 1px solid $bubble-white;
  border-radius: 0px 40px 40px 40px;
  background: $bubble-white;
  text-align: center;
  padding: 15px;
  // height: 400px;
}

.influencer-avatar {
  margin-top: 15px;
}

.bio-card {
  margin-top: 15px;
  text-align: justify;
  padding: 0px 25px;
}

