#menu-logo-container {
  padding-left: 10px;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.menu {
  display: flex;
}

.menu-item {
  padding: 10px;
  &:focus {
    text-decoration: none;
    color:$text-white;
  }
}


