.window-container {
  padding: 0px 25px;
}

// copied this over from bubble.scss to avoid hover effect
.hidden-page {
  display: block !important;
}

.top-bar-nav {
  text-align: right;
  height: 40px;
  padding-top: 10px;
  padding-right: 25px;
  background-color: white;
  z-index: 1;
}

.menu-window {
  display: flex;
  justify-content: flex-end;
}

.menu-item-window {
  padding-right: 10px;
}

.bottom-border {
  border-bottom: 1px solid $line-light;
  left: 3%;
  right: 3%;
}

.click-aspect {
  cursor: pointer;
  opacity:0.8;
  &:hover {
    opacity:1;
  }
}


